// Copyright (C) 2023 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'

    pairs = "${data_dir}/input/pairs/*.gz"
    assembly = 'hg38'
    chrom_sizes = "${data_dir}/input/${assembly}/${assembly}.chrom.sizes"
    resolutions = [10, 100, 500, 1000, 5000, 10000, 25000, 50000, 100000, 250000, 500000, 1000000, 2500000]
}

process {
    container = 'ghcr.io/paulsengroup/2023-hictk-paper/cooler:0.9.2'
    withName:pairs_to_cool {
        memory = 16.GB
    }

    withName:prepare_pairs_for_juicer {
        container = 'ghcr.io/paulsengroup/2023-hictk-paper/juicer-tools:2.20.00'
    }
    withName:pairs_to_hic8 {
        container = 'ghcr.io/paulsengroup/2023-hictk-paper/juicer-tools:2.20.00'
        memory = 750.GB
    }
    withName:pairs_to_hic9 {
        container = 'ghcr.io/paulsengroup/2023-hictk-paper/hic-tools:3.30.00'
        memory = 750.GB
    }
}
